* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

:root {
    --background-menu: radial-gradient(circle, rgb(53, 40, 66), rgb(69, 61, 88));
    --background: linear-gradient(167.5deg, rgba(25, 16, 48, 0.788) 0%, rgb(76, 84, 114) 50.52%, rgb(22, 37, 43) 100%);
    --text--primary-color: #ACBCFF;
    --text-secundary-color: #B799FF;
    --hover-color: rgb(22, 37, 43);
    font-size: 62.5%;
}

body {
    background: var(--background);
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding-inline: 1rem;
}

/* ===== MENU ====== */

#menu {
    padding-block: 1rem;
}

.menu-list {
    list-style: none;

    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 3.6rem;
}

.menu-link {
    display: block;
    padding: 1rem 2rem;

    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--text--primary-color);
}

/* ====== WELCOME SECTION ====== */

#welcome {
    height: 70vh;
}

#welcome .container {
    height: 100%;
    display: grid;
    place-content: center;
}

.welcome-title {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text--primary-color);
    line-height: 0.7;
}

.welcome-subtitle {
    font-size: 7.7rem;
    color: var(--text--primary-color);
    line-height: 0.7;
    font-weight: 800;
}

/* ====== ENVOLVE O TITULO E OS ICONS ====== */

.welcome-subtitle-wrapper {
    display: flex;
    align-items: center;
    line-height: 0.7;
    font-size: 5rem;
    color: var(--text--primary-color);
    line-height: 1;
    font-weight: 800;
}

.welcome-social-list {
    list-style: none;

    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.welcome-social-link {
    color: var(--text-secundary-color);
}



/* ===== ABOUT SECTION ====== */

#about {
    height: 100vh;
    margin-bottom: 10rem;
}

#about .container {
    height: 100%;
    display: grid;
    place-content: center;
}

.about-photo {
    margin: 0 auto 3.6rem;
    width: 40rem;
    height: 40rem;
}

.about-photo img {
    display: block;
    max-width: 100%;
}

.about-description {
    max-width: 60ch;
    color: var(--text--primary-color);
    font-size: 2rem;
    line-height: 1.5;
    text-align: center;
}

/* ===== SKILLS SECTION ====== */

#skills {
    margin-bottom: 10rem;
}

.skills-list {
    list-style: none;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.6rem;
    align-items: center;
}

.skills-item {
    cursor: pointer;
}

.skills-item i {
    color: var(--text-secundary-color);
    font-size: 6.4rem;
}

/* ===== PROJECTS SECTION ====== */

#projects {
    margin-bottom: 10rem;
}

.projects-list {
    display: flex;
    flex-direction: column;
    gap: 7.2rem;
}

.projects-item {
    width: fit-content;
    display: flex;
}

.projects-item.projects-item--right {
    align-self: flex-end;
    flex-direction: row-reverse;
}

.projects-item.projects-item--right .projects-link {
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

.projects-link {
    display: block;
    width: 40rem;
}

.projects-link img {
    max-width: 100%;
    display: block;
}

.projects-text-wrapper {
    display: flex;
    align-items: flex-start;
}

.projects-links-list.projects-links-list--right {
    order: -1;

}

.projects-text-wrapper.projects-text-wrapper--right{
    text-align: end;
}

.projects-text {
    align-items: end;
}

.projects-title {
    line-height: 1;
    font-size: 4.8rem;
    color: var(--text--primary-color);
    margin-bottom: 1.6rem;
}

.projects-description {
    max-width: 30ch;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--text--primary-color);
}

.projects-links-list {
    list-style: none;
}

.projects-links-link {
    color: var(--text-secundary-color);
    font-size: 4.8rem;
}

/* === FORM SECTION === */

.search-bar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: var(--text--primary-color);
}

::placeholder{
    color: var(--text--primary-color);
}

.name {
    width: 60%;
    text-align: center;
    padding: 0.8rem;
    background-color: transparent;
    border: 2px solid var(--text--primary-color);
    border-radius: 2rem;
    outline: none;
    font-weight: 700;
    color: var(--text--primary-color);

}
.email {
    width: 60%;
    text-align: center;
    padding: 0.8rem;
    background-color: transparent;
    border: 2px solid var(--text--primary-color);
    border-radius: 2rem;
    outline: none;
    font-weight: 700;
    color: var(--text--primary-color);
}
.text-box {
    width: 60%;
    height: 15rem;
    text-align: center;
    padding: 0.8rem;
    background-color: transparent;
    border: 2px solid var(--text--primary-color);
    border-radius: 2rem;
    outline: none;
    font-weight: 700;
    color: var(--text--primary-color);
}

.send {
    padding: 0.8rem;
    width: 15rem;
    background-color: var(--text--primary-color);
    border: 2px solid var(--text--primary-color);
    border-radius: 2rem;
    cursor: pointer;
    font-weight: 700;
}

.send:hover {
    background-color: transparent;
    border: 2px solid var(--text--primary-color);
    border-radius: 2rem;
    color: var(--text--primary-color);
}

/* FOOTER */
footer div p {
    display: flex;
    justify-content: center;
    color: var(--text--primary-color);
    padding: 1rem;
    margin-top: 5rem;
    font-size: 1.5rem;
}

/* RESPONSIVE MOBILE */

@media screen and (max-width: 850px) {
    .menu-list {
        justify-content: center;
    }

    .welcome-title{
        font-size: 2.5rem;
    }

    .welcome-subtitle {
        font-size: 7.4rem;
    } 

    .projects-list {
        align-items: center;
    }

    .projects-item {
        flex-direction: column;
        align-items: center;
        gap: 3.6rem;
    }

    .projects-item.projects-item--right {
        align-self: initial;
        flex-direction: column;
        text-align: start;
    }

    .projects-text-wrapper.projects-text-wrapper--right, .projects-links-list.projects-links-list--right {
        order: initial;
        margin-right: initial;
        text-align: start;
    }
}

@media screen and (max-width: 550px) {
    #welcome {
        height: 50vh;
    }

    #about {
        height: fit-content;
    }

    .welcome-title{
        font-size: 2rem;
    }

    .welcome-subtitle {
        font-size: 6.1rem;
    }

    .welcome-subtitle-wrapper {
        font-size: 4rem;
    }

    .about-photo {
        width: 30rem;
        height: 30rem;
    }

    .about-description {
        font-size: 1.6rem;
    }

    .projects-link {
        width: 30rem;
    }



    .projects-title {
        font-size: 3.6rem;
    }

    .projects-description {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 410px) {
    .menu-list {
        gap: 1.6rem;
    }

    .welcome-title {
        font-size: 1.5rem;
    }

    .welcome-subtitle{
        font-size: 4.7rem;
    }

    .welcome-subtitle-wrapper {
        font-size: 3rem;
        line-height: 3.5rem;
    }

    .about-photo {
        width: 20rem;
        height: 20rem;
    }

    .skills-item i {
        font-size: 4.8rem;
    }

    .projects-link {
        width: 20rem;
    }

    .projects-title {
        font-size: 2.8rem;
    }

    .projects-text-wrapper {
        text-align: center;
        flex-direction: column;
        align-items: center;
        gap: 1.6rem;
    }
    .projects-text-right{
        text-align: center;
    }
}